@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-image: url(/public/styles/images/Colourful.png);
}



header {
    color: #333;
    padding: 1em 4%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #logo {
    width: 210px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 80px; /* Limit the maximum height as needed */
  }

nav {
display: flex;
}

nav a {
margin-left: 20px;
text-decoration: none;
color: #333;
transition: all 0.3s ease 0s; 
}

nav a:hover {
color: #3498db;
}

main {
    padding: 2em;
    max-width: 100%;
}

/*landing*/

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #87cfff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; /* Center the text */
}

#landing-text {
  max-width: 800px;
  margin: 0 auto; /* Center the container */
}

.section-heading {
  color: #fff; /* White text color */
  font-size: 60px; /* Adjust the font size */
  line-height: 1.5;
  margin-bottom: 25px;
}


#dynamic-paragraph {
  font-size: 24px; /* Adjust the font size for the bottom paragraph */
  line-height: 1.6;
  color: #fff; /* White text color */
}

/* #dynamic-words {
  display: inline-block;
  color: #3498db; 
  border-right: 2px solid #3498db; 
  animation: typing-animation 3s steps(15, end) infinite; 
} */


/* @keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */

.use-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.use-button:hover {
  background-color: #ea7b04;
}

/*about*/
#about{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#about-container {
    max-width: 500px;
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #ff9800; /* Set border properties */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }

  #about-text {
    font-size: 18px;
    line-height: 1.6;
  }

/*actions*/
.actions-heading {
  color: #3498db;
  margin-bottom: 20px;
  text-align: center;
}

#actions {
  margin-top: 20px;
  max-width: 100%; /* Set the max-width to 100% to span the entire screen */
  margin: 0 auto; /* Center the container */
}

.action-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid white; /* Set initial border color */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  transition: background-color 1s ease; /* Add a smooth transition effect for the border color */
  padding: 20px; /* Add more padding for separation */
}

.action-row:hover {
  background-color: #ffdbd2; 
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.action-title {
  color: #3498db;
  text-align: left; /* Align the titles to the left of the screen */
}

.action-form {
  flex: 1;
  margin-top: 10px; /* Add top margin for separation */
  align-self: stretch; /* Ensure the form takes full width within the container */
}

label,
input,
select,
textarea,
button {
  width: 100%; /* Make form elements take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #3498db;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #006080;
}

input[type="text"],
select {
  width: 100%; /* Make input fields and select boxes full-width */
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
}




/*responses*/

#scrollableContainer {
  height: 300px;
  overflow-y: auto;
  font-size: 20px;
  border: 2px solid #000;
}

#documentTable {
  width: 120%;
  border-collapse: collapse;
}


#documentTable thead {
  background-color: #3498db; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 2px solid #000;
  position: sticky;
  top: 0;
  z-index: 1;
}

#documentTable th {
  padding: 15px;
  text-align: left;
  font-weight: bold;
  width: calc(120% / 7); /* Divide the width equally among the 6 columns */
}


#documentTable tbody tr:hover {
  background-color: #bcebb9; /* Highlight on hover */
}

#documentTable th, #documentTable td {
  padding: 15px;
  text-align: left;
  border: 1px solid #ddd; 
}

/* response rows*/

.small-edit-button,
.small-delete-button {
  background-color: #de3030;
}

.not-started {
  background-color: rgb(125, 125, 251); 
  color: white; 
}

.in-progress {
  background-color: rgb(169, 168, 168); 
  color: white; 
}

.completed {
  background-color: rgb(53, 183, 53); 
  color: white; 
}

.even{
  background-color: #f8f8f8;
}

.odd{
  background-color: #ffffff;
}