@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}



header {
    color: #333;
    padding: 1em 4%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #logo {
    width: 210px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 80px; /* Limit the maximum height as needed */
  }

nav {
display: flex;
}

nav a {
margin-left: 20px;
text-decoration: none;
color: #333;
transition: all 0.3s ease 0s; 
}

nav a:hover {
color: #ff9800;
}

main {
    margin-top: 80px; /* Adjust the margin based on your header height */
    padding: 2em;
    max-width: 100%;
}

/*landing*/

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the container and add space around it */
  }

#landing-text {
    max-width: 400px;
    margin-right: 50px;
    position: relative;
}

.section-heading::before {
    content: "";
    position: absolute;
    top: -5px; /* Adjust the position of the bar */
    left: 0; /* Set left to 0 to span the entire width */
    width: 100%; /* Set width to 100% to span the entire width */
    height: 3px; /* Adjust the height of the bar */
    background-color: #ff9800; /* Orange color */
}

.section-heading {
    color: #333;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
}

/* landing page*/

#landing-image {
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

.use-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000; /* You can change the background color */
  color: #fff; /* You can change the text color */
  border-radius: 50px; /* Use a high value to create a pill shape */
  text-decoration: none;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.use-button:hover {
  background-color: #ea7b04; /* Change the background color on hover */
}

/*about*/
#about{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#about-container {
    max-width: 500px;
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #ff9800; /* Set border properties */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  }

  #about-text {
    font-size: 18px;
    line-height: 1.6;
  }

/*actions*/
.actions-heading {
  color: #0088a9;
  margin-bottom: 20px;
  text-align: center;
}

#actions {
  margin-top: 20px;
  max-width: 100%; /* Set the max-width to 100% to span the entire screen */
  margin: 0 auto; /* Center the container */
}

.action-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Adjust the flex-direction to column */
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.action-title {
  color: #0088a9;
  text-align: left; /* Align the titles to the left of the screen */
}

.action-form {
  flex: 1;
  margin-top: 10px; /* Add top margin for separation */
  align-self: stretch; /* Ensure the form takes full width within the container */
}

label,
input,
select,
textarea,
button {
  width: 100%; /* Make form elements take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
  background-color: #0088a9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #0088a9;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #006080;
}

input[type="text"],
select {
  width: 100%; /* Make input fields and select boxes full-width */
  padding: 8px;
  margin: 6px 0;
  box-sizing: border-box;
}




/*responses*/

#scrollableContainer {
  height: 300px;
  overflow-y: auto;
  border: 3px solid #ff4d00;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.row {
  display: flex; /* Use flexbox for layout */
  border-bottom: 5px solid black; /* Thin black line underneath */
  background-color: #FFD700;
  position: sticky;
  top: 0;
  z-index: 1;
}

.single-doc {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.label {
  flex: 1; /* Distribute available space evenly among labels */
  padding: 10px; /* Add some padding for spacing */
  text-align: center;
}

/* response rows*/
.doc-info{
  display: flex;
}

.doc-info > div,
.doc-info > a {
  flex: 1;
  text-align: center;
  font-size: 13px; 
  word-wrap: break-word;
}

.even{
  background-color: #f8f8f8;
}

.odd{
  background-color: #ffffff;
}